:root {
  --color-checked: rgb(33, 137, 247);
  --color-border: rgb(61, 63, 65);
}

html,
body {
  font-size: 20px;
}

.radio-group {
  display: flex;
}

.checkbox,
.radio {
  position: relative;
  padding: 1px;
  display: flex;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.radio {
  margin-right: 0.25rem;
}
.radio .label {
  margin-left: 0.25rem;
}

.checkbox .border,
.radio .border {
  position: relative;
  border: 2px solid var(--color-border);

  width: 1rem;
  height: 1rem;
}

.checkbox .border {
  border-radius: 0.25rem;
  margin-right: 0.25rem;
}
.radio .border {
  border-radius: 50%;
}

.checkbox .indicator,
.radio .indicator {
  position: absolute;
  z-index: 1;
  margin: 2px;
  width: 0.8rem;
  height: 0.8rem;
  background: var(--color-checked);

  transform: scale(0);
}

.checkbox .indicator {
  border-radius: 2px;
}

.radio .indicator {
  border-radius: 50%;
}

.checkbox .indicator.unchecked,
.radio .indicator.unchecked {
  transition: transform 100ms;
  transform: scale(0);
}

.checkbox .indicator.checked,
.radio .indicator.checked {
  transition: transform 100ms;
  transform: scale(1);
}

.checkbox .label,
.radio .label {
  position: relative;
  top: 0.1rem;
  font-size: 1rem;
  color: var(--color-text);
}
